.js-tabcontent[aria-hidden=true] {
	display: none;
}

.js-tabs > .tabs__list .tabs__link {
	display: block;
}

.js-tabs > .tabs__list .tabs__link {
	color: rgba(0,0,0,.5);
}

.js-tabs > .tabs__list .tabs__link[aria-selected=true] {
	color: rgba(0,0,0,.8);
}

.js-tabs > .tabs__list .tabs__link:active,
.js-tabs > .tabs__list .tabs__link[aria-selected=true] {
	outline: none;
}

.js-tabs-parent > .js-tablist {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: 16px;
}

.js-tabs-parent > .tabs__list .tabs__item {
	display: block;
}

.js-tabs-parent > .tabs__list .tabs__item:first-child,
.js-tabs-parent > .tabs__list .tabs__item:last-child {
	position: relative;
}

.js-tabs-parent > .tabs__list .tabs__item:first-child::before,
.js-tabs-parent > .tabs__list .tabs__item:last-child::after {
	content: ' ';
	display: block;
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #ddd;
}

.js-tabs-parent > .tabs__list .tabs__item:first-child::before {
	left: -16px;
	width: 16px;
}

.js-tabs-parent > .tabs__list .tabs__item:last-child::after {
	right: -47px;
	width: 48px;
}

.js-tabs-parent > .tabs__list .tabs__link {
	padding: 6px 16px 4px;
	border: 1px solid transparent;
	border-bottom: 1px solid #ddd;
}

.js-tabs-parent > .tabs__list .tabs__link[aria-selected=false] {
	margin-left: -1px;
}

.js-tabs-parent > .tabs__list .tabs__link[aria-selected=true] {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	border-radius: 2px 2px 0 0;
}

.js-tabs-parent > .tabs__content {
	padding: 24px 0;
}

.js-tabs-nested {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 24px;
}

.js-tabs-nested > .tabs__list {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 140px;
	flex: 0 1 140px;
	padding-bottom: 24px;
	margin-right: 36px;
	margin-bottom: 24px;
}

.js-tabs-nested > .tabs__list .tabs__item:first-child,
.js-tabs-nested > .tabs__list .tabs__item:last-child {
	position: relative;
}

.js-tabs-nested > .tabs__list .tabs__item:first-child::before,
.js-tabs-nested > .tabs__list .tabs__item:last-child::after {
	content: ' ';
	display: block;
	position: absolute;
	right: 0;
	border-right: 1px solid #ddd;
}

.js-tabs-nested > .tabs__list .tabs__item:first-child::before {
	top: -5px;
	height: 6px;
}

.js-tabs-nested > .tabs__list .tabs__item:last-child::after {
	bottom: -23px;
	height: 24px;
}

.js-tabs-nested > .tabs__list .tabs__link {
	padding: 6px 12px;
	border: 1px solid transparent;
	border-right-color: #ddd;
}

.js-tabs-nested > .tabs__list .tabs__link[aria-selected=true] {
	border-top-color: #ddd;
	border-bottom-color: #ddd;
	border-right-color: transparent;
	outline: none;
}

.js-tabs-nested > .tabs__content {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 400px;
	flex: 1 0 400px;
}
